@use '../settings/units';
@use '../settings/colors';
@use '../settings/breakpoints';
@use 'sass:map';

.content-card {
	background: colors.$white;
	border: 0;
	border-bottom: 1px solid colors.$primary;
	margin-bottom: 32px;
	padding: map.get( units.$spacing, 'small' );

	@include breakpoints.tablet-up {
		padding: map.get( units.$spacing, 'large' );
	}
}

.content-card[data-sidebar-card] {
	--flow-space: 0;
	padding: 16px;
	margin-bottom: 16px;
	line-height: 1.5;

	.bank-data-list {
		list-style-type: none;
		padding-left: 0;
	}
}

