@use '../settings/units';
@use '../settings/colors';
@use '../settings/breakpoints';
@use 'sass:map';

.content-card {
	background: colors.$white;
	border: 0;
	border-bottom: 1px solid colors.$primary;

	.bank-data-list {
		list-style-type: none;
		padding-left: 0;
	}
}

.content-card + .content-card {
	margin-top: 16px;
}

.content-card[data-sidebar-card] {
	--flow-space: var( --space-3xs );

	padding: 16px;
	line-height: 1.5;
}

.content-card[data-theme='bordered'] {
	border: 3px solid var(--color-blue-600);
}

.content-card:not([data-collapsable], [data-sidebar-card]) {
	padding: map.get( units.$spacing, 'small' );

	@include breakpoints.tablet-up {
		padding: map.get( units.$spacing, 'large' );
	}
}

.content-card[data-collapsable] {
	--card-padding: 0;
	--summary-color: var(--color-blue-600);
}

.content-card[data-collapsable] summary {
	--summary-margin: 0;
	--summary-padding: var(--space-xs-l);
	--summary-border: 0;

	cursor: pointer;
}

.content-card[data-collapsable] details > div,
.content-card[data-collapsable] .content-card__content {
	padding-inline: var(--space-xs-l);
	padding-block-end: var(--space-xs-l);
}
