@use '../settings/units';
@use 'sass:map';
@use '../settings/breakpoints';

.form-summary {

	margin: 0;

	&-content {
		margin: 0 0 map.get( units.$spacing, 'small' );
	}

	>*:last-child {
		margin-bottom: 0;
	}

	&-buttons {
		margin: 0;

		@include breakpoints.tablet-up {
			margin: 0 ( -( map.get( units.$spacing, 'small' ) ) ) map.get( units.$spacing, 'small' );
			display: flex;
		}

		.form-button {
			margin: 0 0 map.get( units.$spacing, 'small' );
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			@include breakpoints.tablet-up {
				margin: 0 map.get( units.$spacing, 'small' );
			}
		}
	}
}