.icon-text {
	display: flex;
	flex-wrap: nowrap;
}

.icon-text[data-small-heading] :is(h1, h2, h3) {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}

.icon-text__icon {
	margin-right: 16px;
}

.icon-text:has(p) .icon-text__icon {
	margin-right: 8px;
}

.icon-text[data-small-heading] {
	.icon-text__icon {
		margin-right: 5px;
	}
}

.icon-text:has(h1) svg {
	margin-top: 2px;
}

li.icon-text .icon-text__icon {
	margin-right: 8px;
}

li.icon-text svg {
	margin-top: 2px;
}

.icon-text h2 {
	font-size: 1.3rem;
}

.icon-list {
	padding-inline: 0;
}
