$cookie-notice-padding: 32px;

.cookie-notice {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 10px;

		@include from( $desktop ) {
			font-size: 24px;
			line-height: 36px;
		}
	}
	p {
		font-size: 14px;
	}
	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 640px;
		margin: 0 6px;
		bottom: 0;
		left: 0;
		background: $fun-color-bright;
		box-shadow: 0 -10px 30px rgba( 0, 0, 0, 0.1 );
		z-index: 10;
		max-height: 100%;
	}

	&-info {
		position: relative;
		padding: $cookie-notice-padding $cookie-notice-padding 102px;
		flex-grow: 1;
		flex-shrink: 1;
		margin-bottom: 10px;
		height: 100%;
		overflow-y: auto;
	}

	&-text-copy {
		margin-bottom: 16px;
	}

	.collapse {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-accordion-button {
		line-height: 28px;
		color: $fun-color-dark;
		border-bottom: 2px solid rgba( 0, 0, 0, .14 );

		&:hover,
		&:focus {
			color: $fun-color-primary;
		}
	}

	&-accordion-content {
		padding: 6px 0 0;
	}

	&-buttons {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 16px $cookie-notice-padding $cookie-notice-padding;
		display: flex;
		align-items: flex-end;
		background: $fun-color-bright;
	}

	&-button {
		width: 50%;

		&.accept {
			padding-left: 16px;
		}

		.button.is-main {
			width: 100%;
		}
	}
}
