@keyframes slide-up {
	0% {
		height: 50px;
	}
	100% {
		height: 350px;
	}
}

.feedback-wrapper {

	position: fixed;
	display: flex;
	bottom: 0;
	right: 0;
	z-index: 9999;

	// TODO mobile first

	.feedback-button {
		a {
			bottom: 2px;
			right: 6px;
			position: fixed;
			/*width: 100%; */
			box-shadow: 0 -10px 30px rgba( 0, 0, 0, 0.1 );
			border-radius: 8px 8px 0 0;
			@media ( min-width: 900px ) {
				border-radius: 2px;
				bottom: 18px;
				right: 36px;
			}
		}

	}


	.feedback-box {
		position: sticky;
		padding: 36px;
		border: 1px solid $fun-color-gray-mid;
		box-shadow: 0 -10px 30px rgba( 0, 0, 0, 0.1 );
		background: $fun-color-bright;
		@media ( min-width: 900px ) {
			position: fixed;
			align-self: flex-end;
			bottom: 18px;
			right: 36px;
			width: 600px;
		}
	}

	.feedback-close {
		display: none;
		@media ( min-width: 900px ) {
			display: inline-block;
			position: absolute;
			top: 3px;
			right: 3px;
		}
	}

	.animate-in {
		animation-name: slide-up;
	}


	.feedback-overlay-mobile {
		display: flex;
		flex-direction: column;

		width: 100%;
		height: 50px;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		.feedback-tab-mobile {
			margin-left: auto;
		}

		.feedback-box-mobile {
			position: sticky;
			padding: 36px;
			border: 3px solid $fun-color-primary;
			border-top: 12px solid $fun-color-primary;
			box-shadow: 0 -10px 30px rgba( 0, 0, 0, 0.1 );
			background: $fun-color-bright;
		}

		@media ( min-width: 900px ) {
			display: none;
		}
	}




	.feedback-overlay-desktop {
		display: none;
		@media ( min-width: 900px ) {
			display: inline-block;
		}
	}





	.text-desktop {
		display: none;
		@media ( min-width: 900px ) {
			display: inline-block;
		}
	}

	.text-mobile {
		display: inline-block;
		@media ( min-width: 900px ) {
			display: none;
		}
	}

	h3 {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 10px;

		@include from( $desktop ) {
			font-size: 24px;
			line-height: 36px;
		}
	}

	p {
		font-size: 14px;
		line-height: 21px;
	}

	.button-group{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media ( min-width: 900px ) {
			flex-direction: row;
		}
		a, button {
			font-size: 1em;
			font-weight: bold;
			width: 100%;
			border-radius: 2px;
			padding: 1.8em;
			margin-top: 18px;

			@media ( min-width: 900px ) {
				width: 240px;
				margin-top: 0;
			}
		}
	}

	.styled-line {
		position: fixed;
		height: 6px;
		background-color: $fun-color-primary;
		bottom: 0;
		right: 0;
		left: 0;
		@media ( min-width: 900px ) {
			display: none;
		}
	}
}