@use '../settings/units';
@use '../settings/forms';
@use '../settings/colors';
@use 'sass:map';

.form-field {
	margin: 0 0 map.get( units.$spacing, 'large' );
	font-size: map.get( forms.$input, 'font-size' );

	.control {
		font-size: 16px;
	}

	&-text,
	&-select,
	&-email,
	&-autocomplete {
		.control {
			max-width: map.get( forms.$input, 'max-width' );
		}
	}

	&-autocomplete-container {
		max-width: map.get( forms.$input, 'max-width' );
		position: relative;
	}

	&-autocomplete .dropdown-item {
		font-size: map.get( forms.$input, 'font-size' );
	}

	&-label {
		display: block;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 map.get( units.$spacing, 'small' );
		font-size: 16px;

		>em {
			color: colors.$gray-dark;
			font-weight: normal;
		}
	}

	&-help-text {
		margin-bottom: map.get( units.$spacing, 'small' );
		line-height: 130%;
	}

	&-intro {
		margin: -( map.get( units.$spacing, 'xx-small' ) ) 0 map.get( units.$spacing, 'xx-small' );
	}
}
