@use '../settings/units';
@use '../settings/colors';
@use 'sass:map';
@use 'sass:math';

$check-size: map.get( units.$spacing, 'small' );

.form-field {
	input[type="radio"], input[type="radio"]::before {
		width: $check-size;
		height: $check-size;
		border-radius: 50%;
	}

	input[type="radio"] {
		appearance: none;
		display: block;
		left: map.get(units.$spacing, 'small');
		box-sizing: border-box;
		cursor: pointer;
		transition: background 150ms ease-out;
		border-radius: 50%;
		border: 2px solid colors.$gray-dark;
		background: colors.$white;

		&::before {
			position: absolute;
			content: "";
			display: flex;
			left: 50%;
			top: 50%;
			margin-top: -( math.div( $check-size, 2 ) );
			margin-left: -( math.div( $check-size, 2 ) );
			background-color: colors.$primary;
			transform: scale(0);
			transition: transform 150ms ease-out;
		}

		&:checked {
			border-color: colors.$primary;

			&::before {
				transform: scale(0.5);
			}
		}
	}
}

.is-disabled {
	input {
		border-color: colors.$gray-mid;
	}
}