@use '../settings/forms';
@use 'sass:map';
@import "~bulma/sass/utilities/mixins";

.select-form-input {
	select {
		border-radius: map.get( forms.$input, 'border-radius' );
		width: map.get( forms.$input, 'max-width' );
		padding: map.get( forms.$select-input, 'padding' );

		@include from( $tablet ) {
			width: map.get( forms.$input, 'max-width' );
		}

		font-size: map.get( forms.$input, 'font-size' );
		height: map.get( forms.$input, 'height' );
	}

	.select:not(.is-multiple):not(.is-loading)::after {
		width: 1em;
		height: 1em;
		margin-top: -0.6em;
	}
}