@use '../settings/forms';
@use 'sass:map';

.text-form-input {
	input {
		border-radius: map.get( forms.$input, 'border-radius' );
		padding: map.get( forms.$text-input, 'padding' );
	}

	&.has-icons-right .icon {
		height: 44px;
	}
}
