@use "../settings/colors";

.use_of_funds .company_budgets {
	list-style-type: none;
	padding: 0;

	&__row {
		display: flex;
	}

	&__col {
		&--company {
			flex: 0 0 80px;
		}
		&--graph {
			flex: 1 0 auto;
			display: flex;
			padding: 5px 0;
			align-items: center;
		}
		&--number {
			flex: 0 0 85px;
			text-align: right;
			white-space: nowrap;
		}
		&--citation {
			flex: 0 0 50px;
			font-size: 14px;
			text-align: right;
		}
	}

	&__budget_line {
		background: #cecece;
		min-width: 3px;
		height: 10px;
	}

	&__row--wikipedia {
		.company_budgets__col--company {
			font-weight: bold;
		}
		.company_budgets__budget_line {
			background: colors.$primary;
		}
	}
}
