@import './variables';

.funds_distribution_accordion {
	padding-bottom: 16px;
	display: block;

	.funds_distribution_info_item {
		summary {
			list-style-type: none;

			&::-webkit-details-marker {
				display: none;
			}
		}

		&__title {
			font-weight: bold;
			cursor: pointer;
			border-top: 1px solid #979797;
			line-height: 36px;
			position: relative;
		}

		&:last-child .funds_distribution_info_item__title {
			border-bottom: 1px solid #979797;
		}

		&.active:last-child .funds_distribution_info_item__title {
			border-bottom: 0;
		}

		&.active:last-child .funds_distribution_info_item__text {
			border-bottom: 1px solid #979797;
			padding-bottom: 1em;
		}

		&__title:after {
			background: url( '/skins/laika/images/Chevron-left.svg' ) no-repeat center;
			height: 36px;
			width: 36px;
			position: absolute;
			content: '';
			right: 0;
			opacity: 0.5;
			/* stylelint-disable-next-line function-parentheses-space-inside */
			transform: rotate(-90deg);
		}

		&[open] .funds_distribution_info_item__title:after {
			/* stylelint-disable-next-line function-parentheses-space-inside */
			transform: rotate(90deg);
		}
	}
}

