.accordion {
	--chevron-stroke: var(--summary-color, var(--color-text-main));
	--summary-border: var(--stroke);
	--summary-margin: var(--space-2xs);
	--summary-padding: var(--space-2xs) 0;
}

.accordion-group + .accordion-group {
	margin-block-start: var(--accordion-group-space, var(--space-xl));
}

.accordion details {
	background: var(--background-color, transparent);
	padding-inline: var(--padding-inline, 0);
}

/*
 * Sometimes we need to show a mix of disclosure and non-disclosure items in an accordion
 * group. .accordion__dummy is to match the styles from the summary element to the dummy
 */
.accordion :is(summary, .accordion__dummy) {
	list-style: none;
	display: flex;
	justify-content: space-between;
	color: var(--summary-color, currentColor);
	padding: var(--summary-padding);
	border-block-end: var(--summary-border);
}

.accordion summary::-webkit-details-marker {
	display: none;
}

.accordion summary h2 {
	font-size: var(--type-step-0);
	font-weight: bold;
}

.accordion summary svg {
	margin-inline-start: var(--gutter);
}

.accordion__summary-meta {
	padding-inline-start: 1ch;
	display: inline-block;
	white-space: nowrap;
}

.accordion + .accordion details[open] {
	margin-block-start: var(--gutter);
}

.accordion details[open] summary {
	margin-block-end: var(--summary-margin);
	color: var(--summary-color, var(--color-primary-base));
}

.accordion:not([data-theme="wikimedia"]) details[open] summary {
	--chevron-stroke: var(--color-primary-base);
}

.accordion details[open] summary svg {
	transform: scaleY(-1);
}

.accordion[data-theme="wikimedia"] details {
	--padding-inline: var(--gutter);
	--summary-border: 0;
	--summary-margin: 0;
	--summary-padding: var(--space-xs) 0;
}

.accordion[data-theme="wikimedia"] details + details {
	margin-block-start: 1px;
}

.accordion[data-theme="wikimedia"] details[open] {
	padding-block-end: var(--gutter);
}

.accordion[data-theme="wikimedia"] details:nth-of-type(1n) {
	--background-color: var(--color-wikimedia-green-light);
	--summary-color: var(--color-wikimedia-green);
	--chevron-stroke: var(--color-wikimedia-green);
}

.accordion[data-theme="wikimedia"] details:nth-of-type(2n) {
	--background-color: var(--color-wikimedia-red-light);
	--summary-color: var(--color-wikimedia-red);
	--chevron-stroke: var(--color-wikimedia-red);
}

.accordion[data-theme="wikimedia"] details:nth-of-type(3n) {
	--background-color: var(--color-wikimedia-blue-light);
	--summary-color: var(--color-wikimedia-blue);
	--chevron-stroke: var(--color-wikimedia-blue);
}

.accordion[data-theme="wikimedia"] details:nth-of-type(4n) {
	--background-color: var(--color-wikimedia-grey-light);
	--summary-color: var(--color-wikimedia-grey);
	--chevron-stroke: var(--color-wikimedia-grey);
}
