.button {
	--button-bg: var(--color-primary-base);
	--button-border-color: var(--color-primary-base);
	--button-text: var(--color-text-inverted);
	--button-padding-block: 1em;
	--button-padding-inline: 2em;

	display: inline-flex;
	gap: 0.5ch;
	align-items: center;
	justify-content: center;
	line-height: var(--leading-flat);
	border: 1px solid var(--button-border-color);
	border-radius: var(--border-radius);
	background: var(--button-bg);
	color: var(--button-text);
	padding-block: var(--button-padding-block);
	padding-inline: var(--button-padding-inline);
	text-decoration: none;
	text-align: center;
	font-weight: var(--font-bold);
}

.button:hover {
	filter: brightness(105%);
}

.button:focus {
	outline: 2px solid var(--color-primary-base, currentColor);
	outline-offset: 2px;
}

.button:active {
	transform: scale(99%);
}

.button[data-style-hollow] {
	--button-bg: var(--color-white);
	--button-text: var(--color-primary-base);
}

.button[data-style-hollow]:hover,
.button[data-style-hollow]:focus {
	--button-bg: var(--color-primary-base);
	--button-text: var(--color-text-inverted);
}

.button[data-size-small] {
	--button-padding-block: 0.4em;
}

.button[data-size-fill-width] {
	width: 100%;
}