.callout {
	--border-color: var(--color-primary-base);
	--background-color: var(--color-primary-pastel);

	background: var(--background-color);
	padding: var(--space-xs-l);
}

.callout:not([data-borderless]) {
	border: 2px solid var(--border-color);
}

.content-card .callout {
	padding: var(--space-xs);
}

.callout[data-success] {
	--border-color: var(--color-success-base);
	--background-color: var(--color-success-pastel);
}

.callout[data-warning] {
	--border-color: var(--color-warning-base);
	--background-color: var(--color-warning-pastel);
}

.callout[data-error] {
	--border-color: var(--color-error-base);
	--background-color: var(--color-error-pastel);
}

.callout[data-neutral] {
	--border-color: var(--color-neutral-light);
	--background-color: var(--color-neutral-pastel);
}

.callout[data-transparent] {
	--border-color: var(--color-neutral-light);
	--background-color: transparent;
}

.callout[data-action] {
	display: flex;
	gap: var(--gutter);
}

.callout[data-action] > :first-child {
	flex-grow: 1;
	flex-shrink: 1;
	text-wrap: balance;
}

.callout[data-action] > :last-child {
	flex-grow: 0;
	flex-shrink: 0;
}
