.field-container {
	--field-container-max-width: 32em;
}

.field-container > * {
	--flow-space: var(--space-2xs);
}

.field-container__message {
	color: var(--color-text-faded);
	font-style: italic;
}

/* This is for an implementation issue edge case with Vuejs. Sometimes a field will show an empty message element */
.field-container__message:empty {
	display: none;
}

.field-container__error-text {
	color: var(--color-error-base);
}

.field-container[data-max-width] {
	max-width: var(--field-container-max-width);
}

.field-container[data-error] {
	--form-field-border-color: var(--color-error-base);
}

.field-container:not([data-error]) .field-container__error-text {
	display: none;
}
