.footer-nav a {
	display: block;
	padding-block: var(--space-2xs);
	color: var(--color-text-main);
	border-bottom: 1px solid currentColor;
}

.footer-nav a:not(:hover):not(:focus) {
	text-decoration: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
	color: var(--color-primary-base);
}
