.iban-calculator {
	position: relative;
	transition: opacity 400ms ease-in-out;
}

.iban-calculator:not([data-visible]) {
	height: 0;
	visibility: hidden;
	opacity: 0;
	margin-block-start: 0;
}

.iban-calculator::before {
	content: "";
	position: absolute;
	/* This is the distance the right side of the arrow is from the right.
	 * Calculation: padding + ( close icon width / 2 ) - ( arrow width / 2 )
	 */
	right: calc(var(--space-xs) + 1.5ch - 8px);
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: transparent transparent var(--background-color) transparent;
	transform: rotate(0deg);
}

.iban-calculator__heading {
	padding: var(--space-xs);
}

.iban-calculator__close {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5ch;
	aspect-ratio: 1/1;
	margin: -1ch;
}

.iban-calculator__pages {
	position: relative;
}

.iban-calculator__pages > [role='form'] {
	--flow-space: var(--space-s);
}

.iban-calculator__pages > div {
	padding-inline: var(--space-xs);
	padding-block-end: var(--space-xs);
}

.iban-calculator__result {
	position: absolute;
	z-index: 1;
	inset: 0;
	background: var(--background-color);
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: opacity 400ms ease-in-out;
}

.iban-calculator[data-visible][data-submitted] .iban-calculator__result {
	visibility: visible;
	opacity: 1;
}
