.mobile-nav-toggle {
	--icon-fill: var(--color-grey-800);

	all: unset;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.mobile-nav-toggle:hover,
.mobile-nav-toggle:focus {
	background-color: var(--color-grey-100);
}

.mobile-nav-toggle__open,
.mobile-nav-toggle__close {
	justify-content: center;
}

.mobile-nav-toggle__open {
	display: flex;
}

.mobile-nav-toggle__close {
	display: none;
}

.mobile-nav-toggle--active .mobile-nav-toggle__close {
	display: flex;
}

.mobile-nav-toggle--active .mobile-nav-toggle__open {
	display: none;
}
