.pagination {
	--cluster-horizontal-alignment: center;
	--gutter: var(--space-xs);
	--chevron-fill: var(--color-neutral-base);
	--flow-space: var(--space-xl);
}

.pagination button {
	height: var(--space-l);
	width: var(--space-m);
	background: transparent;
	border: var(--stroke);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination button:where([aria-current], :hover, :focus) {
	border-color: var(--color-primary-base);
}

.pagination button[aria-current] {
	color: var(--color-primary-base);
}

.pagination button:disabled {
	opacity: 0.5;
}
