.text-radio {
	--radio-size: var(--space-s);
	position: relative;
}

.text-radio__radio,
.text-radio__currency {
	position: absolute;
}

.text-radio__radio {
	top: 50%;
	transform: translateY( calc( var(--space-s) / 2 * -1 ) );
	left: 0.5rem;
	margin: 0;
	width: var(--radio-size);
	height: var(--radio-size);
	border: 1px solid var(--form-field-border-color, var(--color-grey-300));
	background: var(--color-white);
	border-radius: 50%;
}

.text-radio__radio:before {
	content: '';
	position: absolute;
	background: var(--color-white);
	height: 40%;
	width: 40%;
	top: 30%;
	left: 30%;
	border-radius: 50%;
}

.text-radio__radio--checked {
	--form-field-border-color: var(--color-blue-600);
	background: var(--color-blue-600);
}

.text-radio__currency {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	height: 100%;
	width: 1.5rem;
	color: var(--color-grey-500);
}

.text-radio:not([data-direction="rtl"]) .text-radio__currency {
	left: 1.5rem;
}

.text-radio[data-direction="rtl"] .text-radio__currency {
	right: 0;
}

.text-radio:not([data-direction="rtl"]) .text-radio__text {
	padding-inline-start: 3rem;
}

.text-radio[data-direction="rtl"] .text-radio__text {
	padding-inline-start: 2rem;
	padding-inline-end: 1.5rem;
	text-align: right;
}
