.toggle {
	--toggle-size: var(--space-l);

	display: flex;
	align-items: center;
	height: var(--toggle-size);
	width: calc(var(--toggle-size) * 1.7);
	margin-block: 0;
	margin-inline: 0;
	background-color: var(--color-grey-100);
	border-radius: calc(var(--toggle-size) / 2);
	transition: background-color 200ms var(--easing);
}

.toggle::before {
	all: unset;
	content: '';
	box-sizing: border-box;
	width: calc(var(--toggle-size) - 0.6em);
	height: calc(var(--toggle-size) - 0.6em);
	margin-inline: 0.3em;
	background-color: var(--color-white);
	border: var(--stroke);
	border-radius: 50%;
}

.toggle:checked {
	justify-content: flex-end;
}

.toggle:checked:before {
	border-color: var(--color-white);
}

.toggle:focus-visible {
	border-color: var(--color-white);
	box-shadow: 0 0 0 2px var(--color-blue-600);
}

label:not([class]):has(.toggle) {
	display: flex;
	align-items: center;
	gap: var(--gutter);
}
