@use 'sass:color';

$primary: #0065a4;
$primary-hover: color.adjust( $primary, $lightness: -5% );

$white: #ffffff;
$black: #000000;

$gray-lighter: #E5E5E5;
$gray-light: #E6D4D3;
$gray-mid: #B7B7B7;
$gray-dark: #808080;
$dark: color.adjust( $black, $lightness: 40% );
