:root {
	--font-base: "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
	--font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	--font-normal: 400;
	--font-bold: 700;

	/* Type Scaling https://utopia.fyi/type/calculator?c=320,16,1.2,2720,18,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l%7Cs-xl&g=s,l,xl,12 */
	--type-step-000: clamp(0.6944rem, 0.691rem + 0.017vw, 0.72rem);
	--type-step-00: clamp(0.8333rem, 0.8244rem + 0.0444vw, 0.9rem);
	--type-step-0: clamp(1rem, 0.9833rem + 0.0833vw, 1.125rem);
	--type-step-1: clamp(1.2rem, 1.1725rem + 0.1375vw, 1.4063rem);
	--type-step-2: clamp(1.44rem, 1.3976rem + 0.2119vw, 1.7578rem);
	--type-step-3: clamp(1.728rem, 1.6654rem + 0.3128vw, 2.1973rem);
	--type-step-4: clamp(2.0736rem, 1.9839rem + 0.4487vw, 2.7466rem);
	--type-step-5: clamp(2.4883rem, 2.3623rem + 0.6299vw, 3.4332rem);

	/* Spacing https://utopia.fyi/space/calculator?c=320,16,1.2,2720,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-xl&g=s,l,xl,12 */
	--space-3xs: clamp(0.25rem, 0.2417rem + 0.0417vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4917rem + 0.0417vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7333rem + 0.0833vw, 0.875rem);
	--space-s: clamp(1rem, 0.9833rem + 0.0833vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.475rem + 0.125vw, 1.6875rem);
	--space-l: clamp(2rem, 1.9667rem + 0.1667vw, 2.25rem);
	--space-xl: clamp(3rem, 2.95rem + 0.25vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.9333rem + 0.3333vw, 4.5rem);
	--space-3xl: clamp(6rem, 5.9rem + 0.5vw, 6.75rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.2083rem + 0.2083vw, 0.5625rem);
	--space-2xs-xs: clamp(0.5rem, 0.45rem + 0.25vw, 0.875rem);
	--space-xs-s: clamp(0.75rem, 0.7rem + 0.25vw, 1.125rem);
	--space-s-m: clamp(1rem, 0.9083rem + 0.4583vw, 1.6875rem);
	--space-m-l: clamp(1.5rem, 1.4rem + 0.5vw, 2.25rem);
	--space-l-xl: clamp(2rem, 1.8167rem + 0.9167vw, 3.375rem);
	--space-xl-2xl: clamp(3rem, 2.8rem + 1vw, 4.5rem);
	--space-2xl-3xl: clamp(4rem, 3.6333rem + 1.8333vw, 6.75rem);

	/* Custom pairs */
	--space-s-l: clamp(1rem, 0.8333rem + 0.8333vw, 2.25rem);
	--space-s-xl: clamp(1rem, 0.6833rem + 1.5833vw, 3.375rem);
	--space-0-s: clamp(0rem, -0.15rem + 0.75vw, 1.125rem);

	/* Type Leading */
	--leading-micro: 0.85;
	--leading-flat: 1;
	--leading-fine: 1.2;
	--leading-standard: 1.4;
	--leading-loose: 1.7;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-black-transparent-14: rgb(0 0 0 / 14%);
	--color-black-transparent-80: rgb(0 0 0 / 80%);
	--color-black-transparent-07: rgb(0 0 0 / 7%);

	--color-grey-100: #f5f5f5;
	--color-grey-200: #e5e5e5;
	--color-grey-300: #b7b7b7;
	--color-grey-500: #808080;
	--color-grey-600: #666666;
	--color-grey-800: #222222;

	--color-red-100: #fee7e6;
	--color-red-500: #ff4242;
	--color-red-600: #d73333;
	--color-red-700: #b32424;

	--color-blue-50: #eaf3ff;
	--color-blue-100: #dce4e8;
	--color-blue-200: #ddedf6;
	--color-blue-300: #c7d1d8;
	--color-blue-500: #1e88ca;
	--color-blue-600: #3366cc;

	--color-wikimedia-green: #10826b;
	--color-wikimedia-green-light: #ecfffb;
	--color-wikimedia-red: #9d0000;
	--color-wikimedia-red-light: #ffefef;
	--color-wikimedia-blue: #154985;
	--color-wikimedia-blue-light: #d7edff;
	--color-wikimedia-grey: #555555;
	--color-wikimedia-grey-light: #f3f3f3;

	--screen-min: 330;
	--screen-mid: 760px;
	--screen-large: 940;
	--screen-max: 1350;

	/* Element variables */
	--wrapper-max-width: 1360px;
	--sidebar-content-min-width: 60%;
	--navigation-height: var(--space-2xl);
	--gutter: var(--space-xs-s);
	--stroke-width: 1px;
	--stroke-color: var(--color-grey-300);
	--stroke: var(--stroke-width) solid var(--stroke-color);
	--easing: cubic-bezier(0.885, 0.09, 0.49, 0.85);
	--button-radius: 8px;
}
