.highlighted-content-text {
	color: var( --color-primary-base );
}

.highlighted-content-text[data-success] {
	color: var( --color-success-base );
}

.highlighted-content-text[data-warning] {
	color: var( --color-warning-base );
}

.highlighted-content-text[data-error] {
	color: var( --color-error-base );
}

.highlighted-icon {
	--icon-color: var( --color-primary-base );
}

.highlighted-icon[data-success] {
	--icon-color: var( --color-success-base );
}

.highlighted-icon[data-warning] {
	--icon-color: var( --color-warning-base );
}

.highlighted-icon[data-error] {
	--icon-color: var( --color-error-base );
}