/*
 * This is for styling a button that looks like a link
 */
.link-button {
	all: unset;
	color: var(--color-primary-base);
	cursor: pointer;
	text-decoration: underline;
}

.link-button:hover,
.link-button:focus {
	color: var(--color-primary-dark);
}
