/* COLOR
This defines all the colours used on the site
*/
:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-black-transparent-14: rgb(0 0 0 / 14%);
	--color-black-transparent-80: rgb(0 0 0 / 80%);
	--color-black-transparent-07: rgb(0 0 0 / 7%);

	--color-grey-100: #f5f5f5;
	--color-grey-200: #e5e5e5;
	--color-grey-300: #b7b7b7;
	--color-grey-500: #808080;
	--color-grey-600: #666666;
	--color-grey-800: #222222;

	--color-red-100: #fee7e6;
	--color-red-500: #ff4242;
	--color-red-600: #d73333;
	--color-red-700: #b32424;

	--color-blue-50: #eaf3ff;
	--color-blue-100: #dce4e8;
	--color-blue-200: #ddedf6;
	--color-blue-300: #c7d1d8;
	--color-blue-500: #1e88ca;
	--color-blue-600: #3366cc;

	--color-green-100: #e3f2e4;
	--color-green-500: #259948;

	--color-yellow-50: #fdf2d5;
	--color-yellow-300: #eeb533;

	--color-wikimedia-green: #10826b;
	--color-wikimedia-green-light: #ecfffb;
	--color-wikimedia-red: #9d0000;
	--color-wikimedia-red-light: #ffefef;
	--color-wikimedia-blue: #154985;
	--color-wikimedia-blue-light: #d7edff;
	--color-wikimedia-grey: #555555;
	--color-wikimedia-grey-light: #f3f3f3;
}
