<div class="detailed-info-box content-card flow">

	<div class="section-heading">
		<div class="repel">
			<h2 class="highlighted-content-text icon-text">
					<span class="icon-text__icon">
						<GlobeIcon class="highlighted-icon"/>
					</span>
				Fördermitgliedschaft wirkt
			</h2>
			<button
				@click="showExpandedInfo = !showExpandedInfo"
				class="link-button highlighted-icon"
			>
				<ChevronDown v-if="!showExpandedInfo"/>
				<ChevronUpIcon v-if="showExpandedInfo"/>
			</button>
		</div>
		<hr/>
	</div>

	<div class="collapsed-info" v-if="!showExpandedInfo">
		<p>
			Regelmäßige Förderbeiträge unterstützen unseren gemeinnützigen Verein besonders nachhaltig.
			Sie ermöglichen eine verlässliche Planung unserer Aktivitäten
			für die langfristige Entwicklung von Wikipedia und der anderen Wikimedia-Projekte.
		</p>
		<div class="iconized-categories">
			<div class="iconized-category" >
				<SoftwareTechnologyIcon/>
				<strong>Weiterentwicklung</strong> von Technik und Software
			</div>
			<div class="iconized-category" >
				<ShieldIcon/>
				<strong>Schutz</strong> der Freiwilligen
			</div>
			<div class="iconized-category" >
				<BooksIcon/>
				<strong>Wissensgerechtigkeit</strong> für alle – weltweit
			</div>
		</div>
	</div>

	<div class="expanded-info" v-if="showExpandedInfo">
		<p>
			Regelmäßige Förderbeiträge unterstützen unseren gemeinnützigen Verein besonders nachhaltig.
			Sie ermöglichen eine verlässliche Planung unserer Aktivitäten
			für die langfristige Entwicklung von Wikipedia und der anderen Wikimedia-Projekte.
		</p>
		<div class="iconized-categories">

			<div class="iconized-category" >
				<SoftwareTechnologyIcon/>
				<div class="iconized-category-text">
					<div class="iconized-category-headline">
						<strong>Weiterentwicklung</strong> von Technik und Software
					</div>
					Sie helfen, die technische Infrastruktur von Wikipedia & Co. immer weiter zu verbessern,
					z.B. durch Softwarelösungen und global verteilte Server,
					die die Datensicherheit und Leistungsfähigkeit von Wikipedia gewährleisten.
				</div>
			</div>

			<div class="iconized-category" >
				<ShieldIcon/>
				<div class="iconized-category-text">
					<div class="iconized-category-headline">
						<strong>Schutz</strong> der Freiwilligen
					</div>
					Sie helfen uns, die Freiwilligen vor Versuchen von Einschüchterung zu schützen:
					technisch, aber auch juristisch.
					Das wird in Zeiten „alternative Fakten“ immer wichtiger.
				</div>
			</div>

			<div class="iconized-category" >
				<BooksIcon/>
				<div class="iconized-category-text">
					<div class="iconized-category-headline">
						<strong>Wissensgerechtigkeit</strong> für alle – weltweit
					</div>
					Sie tragen dazu bei, dass unsere Projekte vielfältiger, umfangreicher und besser werden.
					Und Sie stellen sicher, dass alle Menschen weiterhin kostenlosen Zugang
					zu vertrauenswürdigem Wissen haben.
				</div>
			</div>

		</div>
	</div>
</div>