body {
	background: var(--color-blue-100);
	color: var(--color-grey-800);
	font-size: var(--type-step-0);
	font-family: var(--font-base);
	line-height: var(--leading-standard);
	font-size-adjust: from-font;
	margin: 0;
	padding-top: calc(var(--navigation-height) + var(--gutter));
}

:is(h1, h2, h3) {
	line-height: var(--leading-fine);
	text-wrap: balance;
	font-weight: var(--font-normal);
	max-width: 35ch;
}

h1 {
	font-size: var(--type-step-3);
}

h2 {
	font-size: var(--type-step-2);
}

h3 {
	font-size: var(--type-step-1);
}

:is(h4, h5, h6) {
	font-size: var(--type-step-0);
	font-weight: var(--font-normal);
}

small {
	font-size: var(--type-step-00);
}

ins {
	text-decoration: none;
	background: var(--color-blue-600);
	color: var(--color-black);
	padding-inline: 0.3em;
}

:is(code, kbd, samp) {
	font-family: var(--font-mono);
	padding: 0.2em 0.2em 0.05em 0.2em;
	hyphens: none;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	box-decoration-break: clone;
}

/* This is quite a new property, so we want code styles to at least, not be huge or tiny */
@supports not (font-size-adjust: from-font) {
	:is(code, kbd, samp) {
		font-size: 0.8em;
	}
}

pre {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	background: var(--color-grey-100);
	padding: var(--flow-space, 1em);
	tab-size: 4ch;
}

pre code {
	border: none;
	background: none;
	padding: 0;
}

kbd {
	border: 1px solid;
	padding-block-end: 0.1em;
}

var {
	font-style: normal;
	font-weight: var(--font-normal);
}

ul:not([class]) {
	padding-inline-start: 1.7ch;
	list-style-type: disc;
}

ul:not([class]) > li {
	padding-inline-start: 0.9ch;
}

ol:not([class]) {
	padding-inline-start: 2.1ch;
}

ol:not([class]) > li {
	padding-inline-start: 0.5ch;
}

:is(ol, ul):not([class]) li + * {
	margin-block-start: var(--flow-space, var(--space-2xs));
}

ul ::marker {
	font-size: 0.8lh;
}

ol ::marker {
	font-size: 1em;
	font-weight: var(--font-bold);
}

dt {
	font-weight: var(--font-normal);
}

dt + dd {
	margin-block-start: var(--space-xs);
}

dd + dt {
	margin-block-start: var(--space-s);
}

dd {
	margin-inline-start: 1.5ch;
}

blockquote {
	margin-inline: 0;
	color: var(--color-grey-600);
}

blockquote footer {
	margin-block-start: var(--space-s);
}

blockquote q {
	font-style: normal;
}

q {
	display: inline-block;
	font-style: italic;
}

q:before {
	content: "\201C";
}

q:after {
	content: "\201D";
}

:is(video, iframe[src*='youtube'], iframe[src*='vimeo']) {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
}

img {
	height: auto;
	max-width: 100%;
	display: block;
}

figure {
	margin-inline: var(--space-s);
}

figcaption {
	padding-block-start: 0.5em;
	font-size: var(--type-step-0);
	font-family: monospace;
}

table {
	border: var(--stroke);
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: left;
	font-weight: var(--font-bold);
	line-height: var(--leading-fine);
}

thead th {
	padding-block: var(--space-s);
}

td,
th {
	padding: var(--space-xs) var(--space-s);
}

th:not(:only-of-type) {
	border-block-end: var(--stroke);
}

th:only-of-type {
	border-inline-end: var(--stroke);
}

:is(th, td) ~ :is(th, td) {
	border-inline-start: var(--stroke);
}

tr + tr :is(th, td) {
	border-block-start: var(--stroke);
}

caption {
	caption-side: bottom;
	margin-block-start: var(--space-s);
}

a:not([class]) {
	color: var(--color-blue-600);
}

a:not([class]):hover {
	color: var(--color-grey-800);
}

:is(h1, h2, h3, h4) a:not([class]) {
	text-decoration-thickness: 0.1ex;
	text-underline-offset: 0.2ex;
}

:is(h1, h2, h3, h4) a:not([class]):hover {
	text-underline-offset: 0.3ex;
}

:focus {
	outline: none;
}

/* Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block.
 * That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
 */
@supports (-moz-appearance: none) {
	:root {
		--focus-offset: 0.08em;
	}
}

:target {
	scroll-margin-block: 5lh;
}

::selection {
	color: var(--color-black);
	background: var(--color-blue-200);
}

/* TODO: Think about how to handle margin bottom in a flow element */
hr {
	border: none;
	border-block-start: var(--hr-stroke, var(--stroke));
	margin-block: var(--flow-space, var(--space-xl));
}

svg {
	flex-shrink: 0;
}

svg[role='img'][width][height] {
	width: revert;
	height: revert;
	background: var(--color-white);
	padding: var(--space-xs);
}

/* There's a .flow composition, but this prevents forms from having to have that applied where markup is harder to
 * control in certain systems. It still uses the --flow-space variables though to make managing space easier
 */
form > * + * {
	margin-top: var(--flow-space, var(--space-l));
}

:is(input, select, textarea) {
	accent-color: var(--color-blue-600);
}

/* We hide the focus styles on radios and checkboxes because the enclosing label with be the visual indicator
 */
:is(:not([type='checkbox'], [type='radio'])):focus-visible {
	--form-field-border-color: var(--color-blue-600);
	outline: 2px solid var(--color-blue-600, currentColor);
}

:is(input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea),
label:has([type='radio']) {
	padding: 0.5em;
	border: 1px solid var(--form-field-border-color, var(--color-grey-300));
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	color: var(--color-black);
	width: 100%;
	font-family: var(--font-base);
	max-width: var(--form-field-max-width);
	line-height: var(--leading-standard);
}

label:has([type='checkbox']) {
	max-width: var(--form-field-max-width);
}

select {
	appearance: none;
	background: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2022%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A2%3B%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9.939%2C12.657L0.747%2C3.464C0.162%2C2.879%200.162%2C1.929%200.747%2C1.343C1.332%2C0.758%202.283%2C0.758%202.868%2C1.343L11%2C9.475L19.132%2C1.343C19.717%2C0.758%2020.668%2C0.758%2021.253%2C1.343C21.838%2C1.929%2021.838%2C2.879%2021.253%2C3.464L12.061%2C12.657C11.475%2C13.242%2010.525%2C13.242%209.939%2C12.657Z%22%2F%3E%0A%3C%2Fsvg%3E") no-repeat 96% 55%;
	background-size: 1em;
}

:is([type='checkbox'], [type='radio']) {
	--radio-size: var(--space-s);

	flex-shrink: 0;
	appearance: none;
	width: var(--radio-size);
	height: var(--radio-size);
	border: 1px solid var(--form-field-border-color, var(--color-grey-300));
	position: relative;
	background: var(--color-white);
}

:is([type='checkbox'], [type='radio']):checked {
	background: var(--color-blue-600);
}

:is([type='checkbox'], [type='radio']):before {
	content: '';
	position: absolute;
}

[type='radio'] {
	margin: 0.4ex 0 0;
}

[type='radio'],
[type='radio']:before {
	border-radius: 50%;
}

[type='radio']:before {
	background: var(--color-white);
	height: 40%;
	width: 40%;
	top: 30%;
	left: 30%;
	border-radius: 50%;
}

[type='checkbox'] {
	margin: 0.2ex 0 0;
	border-radius: 2px;
}

[type='checkbox']:before {
	height: 80%;
	width: 40%;
	top: 2%;
	left: 30%;
	transform: rotateZ(45deg);
	border-color: var(--color-white);
	border-width: 0 3px 3px 0;
	border-style: solid;
}

label:has([type='checkbox'], [type='radio'])::placeholder {
	color: var(--color-grey-500);
	opacity: 1;
}

label:has([type='checkbox'], [type='radio']):hover {
	cursor: pointer;
}

label {
	line-height: var(--leading-fine);
	font-weight: var(--font-bold);
}

label::after {
	content: '\A';
	white-space: pre;
}

/* Usually label wraps checkbox and radio buttons, so we give ourselves more layout and text-flow control with flex */
label:has(input) {
	display: flex;
	gap: 0.5em;
	font-weight: var(--font-normal);
}

label:has([type='checkbox']:focus-visible, [type='radio']:focus-visible) {
	--form-field-border-color: var(--color-blue-600);
	outline: 2px solid var(--color-blue-600, currentColor);
}

label:has([type='checkbox']:checked, [type='radio']:checked) {
	--form-field-border-color: var(--color-blue-600);
}

input:disabled {
	background: var(--color-grey-500);
}

input:disabled,
label input:disabled + * {
	cursor: not-allowed;
}

fieldset {
	border: 0;
	padding: 0;
}

/* We consider the legend element to be the main "label" in fieldsets so actual labels should not be bold */
fieldset:has(legend) label {
	font-weight: var(--font-normal);
}

button:not([disabled]) {
	cursor: pointer;
}

legend {
	font-weight: var(--font-bold);
}

summary {
	cursor: pointer;
}

details[open] summary {
	margin-block-end: var(--space-2xs);
}

dialog {
	margin-inline: auto;
	max-height: calc(100vh - var(--space-0-s) * 2);
	max-width: 40rem;
	min-width: 10rem;
	border: 0;
}

dialog::backdrop {
	background: var(--color-black-transparent-80);
}
